<nav class="navbar navbar-inverse" style="background-color: #666;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DAWG TAWK</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/" style="background-color: rgb(196, 196, 196);">Home</a></li>
      <li><a href="/saved">Saved Articles</a></li>
      <li><a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>DAWG TAWK</h1>
    <p>All the latest barks and Dawg news...</p>
  </div>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
  <div class="container">
    <p>DAWG TAWK is a Georgia Bulldogs </p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>
